
.mast__title span {
    opacity: 0;
    animation: letter-glow 0.1s ease-in-out forwards;
}

@keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255,255,255,0.1);
  }
  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255,255,255,0.0);
  }
}
