@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: 'Aquatico';
  src: url('/fonts/Aquatico-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('/fonts/TT-Hoves-Pro-Trial-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('/fonts/TT-Hoves-Pro-Trial-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('/fonts/TT-Hoves-Pro-Trial-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('/fonts/TT-Hoves-Pro-Trial-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('/fonts/TT-Hoves-Pro-Trial-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('/fonts/TT-Hoves-Pro-Trial-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

:root {
  --primary-color: #0089E2;
  --secondary-color: #E9EAE2;
  --tertiary-color: #FDFCF7;
  --button-bgcolor: #13B2F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary-color);
  color: #000;
  font-family: 'TT Hoves Pro', sans-serif;
  overflow-x: hidden;
}

ul{
  margin: 0;
  padding: 0;
}
button{
  font-family: 'TT Hoves Pro', sans-serif;
}
/* For WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Adjust width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* Scroll thumb color */
  border-radius: 4px; /* Optional: round corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}

/* Firefox Scrollbar */
html {
  scrollbar-color: var(--primary-color) #f1f1f1; /* Thumb and Track */
  scrollbar-width: thin; /* "auto", "thin", or "none" */
}



p {
  font-size: 1rem;
  /* letter-spacing: 0.07rem; */
  line-height: 1.5;
}
h5{
  font-size: 2.5rem;
}
.container{
  margin: 0 auto;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.main-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
  /* letter-spacing: 0.1rem; */
}
.sub-title{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  /* letter-spacing: 0.06rem; */
}
.theme-btn{
  font-size: calc(13px + 3 * (100vw - 320px) / 1600);
  padding: calc(5px + .1875vw) calc(18px + .5vw);
  border: none;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: #FDFCF7;
  cursor: pointer;
  /* letter-spacing: 0.1rem; */
  font-weight: 400;
  line-height: normal;
}
.theme-btn2{
  background-color: #000;
  border: none;
  padding: calc(5px + .1875vw) calc(14px + .5vw);
  border-radius: 20px;
  color: #FDFCF7;
  cursor: pointer;
  /* letter-spacing: 0.1rem; */
  font-weight: 400;
}

@media (min-width: 640px) {

}

@media(min-width:1024px) {

}
@media(max-width:768px) {
  .container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .main-title {
    font-size: calc(28px + 4 * (100vw - 320px) / 1600);
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 1.2;
    /* letter-spacing: 0.1rem; */
  }
  .sub-title{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
    /* letter-spacing: 0.06rem; */
  }
  h5{
    font-size: 2rem;
  }
}

@media (min-width: 1400px){
  /* .container{
    max-width: 1531px;
  } */
  p{
    font-size: 1.1rem;
    line-height: 1.3;
  }
  .main-title{
    font-size: 2.85rem;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  h5{
    font-size: 3rem;
  }
}
