.banner{
    min-height: 700px;
    height: calc(100vh + 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color:#0a121d;
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
    // Background image for About Page
    
    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0; /* Ensure it's at the bottom */
        overflow: hidden;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .title{
        color: #fff;
        font-family: 'Aquatico', sans-serif;
        font-size: 3.25rem;
        line-height: 1.2;
        text-align: center;
        z-index: 1;
    }
    &.about {
        background: url('../../assets/images/about/banner.jpg') no-repeat center center/cover;
        .title{
            display: none;
        }
    }
    &.contact{
        height: 660px;
    }
}
@media(max-width:768px) {
    .banner{
        .title{
            font-size: 2.5rem;
            line-height: 1.2;
            text-align: center;
            z-index: 1;
        }
        &.contact{
            height: 530px;
            min-height: 530px;
        }
    }
}
@media (min-width: 1400px){
    .banner{
        .title{
            font-size: 3.75rem;
            line-height: 1.3;
        }
    }
  }